.content a {
   color: #191919;
    padding: 2px 0 1px 0;
    text-decoration: none;
    background-image: linear-gradient(
      transparent 0%,
      transparent calc(50% - 9px),
      #ffdb00 calc(50% - 9px),
      #ffdb00 100%
    );
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
    word-break: break-word;
 }

.content a:hover {
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    #ffdb00 calc(50% - 9px),
    #ffdb00 100%
  );
  background-position: 0 100%;
 }